name: Generate and Publish Website
on: push
jobs:
  generate-site:
    runs-on: ubuntu-latest

    # Use Docker Review container defined here:
    # https://github.com/vvakame/docker-review/tree/master
    container:
      image: ghcr.io/vvakame/review:5.9

    steps:
    
      # Check out this repo and the Mbed submodule
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
          
      - name: Generate websites
        run: |
          mkdir site
          cd Vol4
          rake web
          mkdir ../site/Vol4
          mv webroot/* ../site/Vol4/
          cd ..
          cd Vol5
          rake web
          mkdir ../site/Vol5
          mv webroot/* ../site/Vol5/
          cd ..
          cd Vol6
          rake web
          mkdir ../site/Vol6
          mv webroot/* ../site/Vol6/

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site
      
  # Note: The below is copied almost verbatim from the example job from the deploy-pages action.
  # See https://github.com/actions/deploy-pages
  deploy-site:
    # Add a dependency to the build job
    needs: generate-site

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 # or specific "vX.X.X" version tag for this action
